@import-normalize;

:root {
	--dark-main: #0f0e17;
	--background: #fffefe;
	--light-text: #dadada;
}

html,
body,
ul {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background);
	font-family: Helvetica, Arial, sans-serif;
	min-width: 320px;
}

ul,
li {
	list-style: none;
}

fieldset {
	border: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	color: white;
}

a {
	color: var(--light-text);
	text-decoration: none;
}

header {
	background: var(--dark-main);
	color: var(--light-text);
}

.search-settings {
	display: flex;
	margin: auto;
	width: 90%;
	justify-content: space-evenly;
}

.settings-option {
	font-size: 14px;
	padding: 1rem;
	cursor: pointer;
}

.settings-dropdown {
	padding: 0 1rem 1rem;
	display: flex;
	flex-direction: column;
}

.genres-dropdown,
.sort-dropdown {
	margin: auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: none;
}

.genre-option,
.sort-option {
	padding: 0.2rem;
	margin: 0.5rem;
}

.genre-option label,
.sort-option label {
	margin-left: 5px;
}

.form-button {
	margin: auto;
	padding: 0.5rem 1rem;
	border: 1px solid var(--light-text);
	border-radius: 5px;
	color: var(--light-text);
	background: none;
}

.loading-message {
	font-weight: 700;
	color: var(--dark-main);
	text-align: center;
}

.movie-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: auto;
	padding: 1rem;
}

.movie-item {
	display: inherit;
	flex-direction: column;
	width: 185px;
	margin: 1rem;
	border-radius: 10px;
	background-color: var(--dark-main);
	color: var(--light-text);
	position: relative;
}

.movie-poster {
	order: 1;
	border-radius: 10px;
	max-width: 100%;
	text-align: center;
}

.movie-poster-background {
	height: 278px;
}

.movie-title {
	order: 2;
	font-size: 1rem;
	line-height: 1.4;
	margin: 1rem;
	text-align: center;
}

.movie-card__title {
	font-size: 2rem;
	margin: 0;
	text-align: left;
}

.original-title {
	font-size: 1.5rem;
	color: #797979;
	margin: 1rem 0;
}

.favorite-button {
	position: absolute;
	padding: 0.6rem;
	right: 0;
	top: 0;
	background: radial-gradient(rgba(0, 0, 0, 0.3), transparent 50%);
}

.button-icon {
	color: white;
}

.card-favorite-button .button-icon {
	color: var(--dark-main);
}

.movie-card {
	display: flex;
	flex-direction: column;
	padding: 3rem 5vw;
	margin: 0 auto;
	align-items: center;
}

.poster-container {
	max-width: 500px;
	width: 100%;
	flex-shrink: 0;
}

.info-container {
	padding: 1.5rem 0;
	text-align: left;
	width: 100%;
}

.movie-genres {
	color: #797979;
}

@media (min-width: 500px) {
	.poster-container {
		min-width: 160px;
		width: 30%;
	}
}

@media (min-width: 900px) {
	.movie-card {
		flex-direction: row;
	}

	.poster-container {
		width: 25%;
	}

	.info-container {
		padding: 1.5rem;
	}
}
